<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
		<title>NOMBRE RESIDENCIA</title>
	<link rel="stylesheet" href="css/hoja2.css"  />
	<script src="https://kit.fontawesome.com/3b7dae609c.js" crossorigin="anonymous"></script>
</meta>
</meta>
</head>
<body>
		<nav>
			<ul id="menu">
				<li class="elementoMenu"><a th:href="@{/index}"> Home </a></li>
				<li class="elementoMenu"><a th:href="@{/sobreNosotros}">
						Sobre Nosotros </a></li>
				<li class="elementoMenu"><a th:href="@{/menu}"> Menú mensual
				</a></li>
				<li class="elementoMenu"><a th:href="@{/actividades}">
						Actividades </a></li>
				<li class="elementoMenu"><a th:href="@{/contacto}"> Contacto
				</a></li>
			</ul>
		</nav>
		<h1 id="nombreVentana">Actividades</h1>
<div class="contenedorActividades">
                <div class="actividad">
                    <div class="foto">
                        <img src="media/Aquagym.jpeg" alt="aquagym" >
                    </div>
                    <p class="nombre">Aquagym</p>
                    <p class="definicion">Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
                <div class="actividad">
                    <div class="foto">
                        <img src="media/Estiramientos.jpg"alt="estiramientos">
                    </div>
                    <p class="nombre">Estiramientos</p>
                    <p class="definicion">Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
                <div class="actividad">
                    <div class="foto">
                        <img src="media/coro.jpg"alt="Coro">
                    </div>
                    <p class="nombre">Coro</p>
                    <p class="definicion">Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
            <footer id="pie">
		<div id="contenedorIconos">
			<i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-twitter-square"></i>
            <i class="fa-brands fa-instagram-square"></i>
		</div>
	</footer>
</body>
</html>