<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>NOMBRE RESIDENCIA</title>
	<link rel="stylesheet" href="css/hoja2.css"  />
	<script src="https://kit.fontawesome.com/3b7dae609c.js" crossorigin="anonymous"></script>
</head>
<body>
<nav>
			<ul id="menu">
				<li class="elementoMenu"><a th:href="@{/index}"> Home </a></li>
				<li class="elementoMenu"><a th:href="@{/sobreNosotros}">
						Sobre Nosotros </a></li>
				<li class="elementoMenu"><a th:href="@{/menu}"> Menú mensual
				</a></li>
				<li class="elementoMenu"><a th:href="@{/actividades}">
						Actividades </a></li>
				<li class="elementoMenu"><a th:href="@{/contacto}"> Contacto
				</a></li>
			</ul>
		</nav>
		<h1 id="nombreVentana">Contacto</h1>
<div class="contenedorColumnas">
                <div class="columnas">

                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12882.687251481399!2d-3.9402734479743278!3d40.3665296404815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd419053cedee857%3A0x7806af30628429d1!2sRESIDENCIA%20DE%20MAYORES%20VILLAVICIOSA%20DE%20OD%C3%93N!5e0!3m2!1ses!2ses!4v1652090029915!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="columnas">
                    <p >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                
            </div>
<footer id="pie">
		<div id="contenedorIconos">
			<i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-twitter-square"></i>
            <i class="fa-brands fa-instagram-square"></i>
		</div>
	</footer>
	</body>
	</html>