<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
		<title>NOMBRE RESIDENCIA</title>
	<link rel="stylesheet" href="css/hoja2.css"  />
</head>
<body>
	<header id="encabezado">

 		<nav>
			<ul id="menu">
				<li class="elementoMenu"><a th:href="@{/index}"> Home </a></li>
				<li class="elementoMenu"><a th:href="@{/sobreNosotros}">
						Sobre Nosotros </a></li>
				<li class="elementoMenu"><a th:href="@{/menu}"> Menú mensual
				</a></li>
				<li class="elementoMenu"><a th:href="@{/actividades}">
						Actividades </a></li>
				<li class="elementoMenu"><a th:href="@{/contacto}"> Contacto
				</a></li>
			</ul>
		</nav>

 		<h1 id="nombreVentana">Bienvenido</h1>

	</header>
	
	
	<h2 class=nombreTabla>Datos de su familiar</h2>
	<div class="contenedorTabla1">
  			 		<table border="1" width="1000">
    <thead>
    <tr>
        <td>Nombre </td>
        <td>Apellido </td>
         <td>Edad </td>
        <td>Número de habitación</td>
            </tr>
    </thead>
<tr >
    <td th:text="${residente.nombre}"></td>
    <td th:text="${residente.apellido}"></td>
    <td th:text="${residente.edad}"></td>
    <td th:text="${residente.n_hab}"></td>
</tr>

</table>
	 </div>

	 
	 
	<h2 class=nombreTabla>Cuidados</h2>
	<div class="contenedorTabla2">
	<table border="1" width="1000">
    <thead>
    <tr>
        <td>Fecha </td>
        <td>Descripción </td>
       
            </tr>
    </thead>
<tr th:each="cuidado: ${residente.cuidados}">
    <td th:text="${cuidado.fecha}"></td>
    <td th:text="${cuidado.descripcion}"></td>
   </tr>
</table>
	 </div>
</body>
</html>