<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>NOMBRE RESIDENCIA</title>
<link rel="stylesheet" href="css/hoja1.css" />
<script src="https://kit.fontawesome.com/3b7dae609c.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
</head>
<body>

	<header id="encabezado">
		<nav>
			<ul id="menu">
				<li class="elementoMenu"><a th:href="@{/index}"> Home </a></li>
				<li class="elementoMenu"><a th:href="@{/sobreNosotros}">
						Sobre Nosotros </a></li>
				<li class="elementoMenu"><a th:href="@{/menu}"> Menú
						mensual </a></li>
				<li class="elementoMenu"><a th:href="@{/actividades}">
						Actividades </a></li>
				<li class="elementoMenu"><a th:href="@{/contacto}">
						Contacto </a></li>
			</ul>
		</nav>
			<h1 id="tituloEncabezado">NOMBRE RESIDENCIA</h1>
			<h2 id="subtituloEncabezado">ESLOGAN RESIDENCIA</h2>
	</header>
	<!--LOGIN	-->
	<form th:action="@{/login}" th:object="${usuario}" method="post">

		<div class="contenedorLogin">
			<label for="nombre"><b>Usuario</b></label> <input type="text"
				placeholder="Introducir Usuario" id="idUsuario"
				th:field="*{idUsuario}"> <label for="pass"><b>Contraseña</b></label>
			<input type="password" placeholder="Introducir Contraseña"
				th:field="*{contrasena}" id="pass">

			<button type="submit">Entrar</button>
			<!-- <label> <input type="checkbox" checked="checked"
				name="remember"> Remember me
			</label> -->
	</form>
	</div>
	<div class="contenedorLogin">
		<button onclick="modalForm1()">¿Olvidaste tu contraseña?</button>
	</div>

	<!-- <div id="modalForm1()">
		<div id="modalForm2()">
			<p id="mensaje"></p>
			<button onclick="CerrarF">Cerrar</button>
		</div>
	</div> -->
	<footer id="pie">
		<div id="contenedorIconos">
			<i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-twitter-square"></i>
            <i class="fa-brands fa-instagram-square"></i>
		</div>
	</footer>

</body>

</html>