<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>NOMBRE RESIDENCIA</title>
	<link rel="stylesheet" href="css/hoja2.css"  />
	<script src="https://kit.fontawesome.com/3b7dae609c.js" crossorigin="anonymous"></script>
</head>
<body>
	
	<nav>
			<ul id="menu">
				<li class="elementoMenu"><a th:href="@{/index}"> Home </a></li>
				<li class="elementoMenu"><a th:href="@{/sobreNosotros}">
						Sobre Nosotros </a></li>
				<li class="elementoMenu"><a th:href="@{/menu}"> Menú mensual
				</a></li>
				<li class="elementoMenu"><a th:href="@{/actividades}">
						Actividades </a></li>
				<li class="elementoMenu"><a th:href="@{/contacto}"> Contacto
				</a></li>
			</ul>
		</nav>
		<h1 id="nombreVentana">Menú mensual</h1>
<div class="contenedorMenu">
                <img class="imagen" alt="menu" src="media/menu.jpg">
</div>
<footer id="pie">
		<div id="contenedorIconos">
			<i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-twitter-square"></i>
            <i class="fa-brands fa-instagram-square"></i>
		</div>
	</footer>
</body>
</html>