<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	
	<title>NOMBRE RESIDENCIA</title>
<link rel="stylesheet" href="css/hoja2.css"  />
</head>
<body>
	<header id="encabezado">

 		<nav>
			<ul id="menu">
				<li class="elementoMenu"><a th:href="@{/index}"> Home </a></li>
				<li class="elementoMenu"><a th:href="@{/sobreNosotros}">
						Sobre Nosotros </a></li>
				<li class="elementoMenu"><a th:href="@{/menu}"> Menú mensual
				</a></li>
				<li class="elementoMenu"><a th:href="@{/actividades}">
						Actividades </a></li>
				<li class="elementoMenu"><a th:href="@{/contacto}"> Contacto
				</a></li>
			</ul>
		</nav>

 		
	</header>
<div class="contenedorTabla3">
	<form th:action="@{/introducirDatos}" th:object="${cuidado}" method="post">
 		<ul>
  			<li>
  	 			<label for="name" class=nombreTabla>Nombre:</label><br>
   				<input type="text" id="nombre" th:field="*{nombre}">
 	 		</li>
 	 		<li>
  	 			<label for="name" class=nombreTabla>Apellidos:</label><br>
   				<input type="text" id="apellido" th:field="*{apellido}">
 	 		</li>
 	 		<li>
  	 			<label for="name" class=nombreTabla>Fecha: </label><br>
   				<input type="text" id="fecha" th:field="*{fecha}">
 	 		</li>
  			<li>
   	 			<label for="name" class=nombreTabla>Descripción cuidado: </label><br>
    			<input type="text" id="descripcion" th:field="*{descripcion}">
 			</li>
  			 		</ul>
  			 <button id="boton"type="submit">Enviar</button>
	</form>
</div>
</body>
</html>